<div class="row text-center">
  <h3>clients</h3>

  <table class="table">
    <tr id="first-row">
      <th width="35%" class="text-center">name</th>
      <th width="35%" class="text-center">stylist</th>
      <th width="20%"></th>
    </tr>
    <% @clients.each do |client| %>
      <tr>
        <td class="text-center">
          <a href="/clients/<%= client.id %>"><%= client.name %></a>
        </td>
        <td class="text-center">
          <a href="/stylists/<%= client.stylist_id %>"><%= client.stylist.name %></a>
        </td>
        <form action="/clients/<%= client.id %>" method="post">
          <td>
            <input type="hidden" name="_method" value="delete">
            <button type="submit" name="delete" class="form-control btn btn-danger btn-sm">delete client</button>
          </td>
        </form>
      </tr>
    <% end %>

    <tr>
      <form class="form-inline" action="/clients/new" method="post">

        <td width="40%">
          <label hidden for="name">new client name</label>
          <input class="form-control" type="text" name="name" id="name" placeholder="new client name" required>
        </td>

        <td width="40%">
          <label hidden for="stylist">new client stylist</label>
          <select class="form-control" name="stylist_id" required>
            <option value="" disabled selected>new client stylist</option>
            <% @stylists.each do |stylist| %>
              <option value="<%= stylist.id %>"><%= stylist.name %></option>
            <% end %>
          </select>
        </td>

        <td width="10%">
          <button class="btn btn-primary btn-sm form-control" name="submit" type="submit">+ client</button>
        </td>

      </form>
    </tr>
  </table>
  <a class="btn btn-warning btn-sm" href='/'>home</a>
</div>
